[Unit]
Description=A simple CalDAV (calendar) and CardDAV (contact) server
After=network.target
Requires=network.target

[Service]
ExecStart={{ radicale_venv }}/bin/gunicorn --bind '{{ radicale_ip }}:{{ radicale_port }}' --workers {{ radicale_uwsgi_workers }} --env 'RADICALE_CONFIG={{ radicale_config }}' radicale
Restart=on-failure
User={{ radicale_user }}
# Deny other users access to the calendar data
UMask=0027
# Optional security settings
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true
ReadWritePaths={{ radicale_collections }}

[Install]
WantedBy=multi-user.target
